body {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./images/breakingbad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

input {
    font-size: 1em;
    text-transform: capitalize;
    min-width: 40vw;
}


input,
.search-btn {
    margin-top: 3em;
    padding: .5em 1em;
}

.search-btn {
    margin-left: 1em;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
}



/* CSS */
button {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
}

button:hover {

}

button{
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.image-container {
  display: flex;
}

.image {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) {
  button {
    padding: 24px;
  }
}
        

/* Parent background */
